<header class="header">
	<div class="header__container">
		<div class="header__wrapper">
			<a href="#" class="header__logo">
				<img src="/src/img/logo.svg" alt="Logo">
			</a>
            <ul class="header__menu menu">
                <li class="menu__item">
                    <a href="#" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Shop</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Service</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">News</a>
                </li>
            </ul>
            <div class="header__actions">
                <div class="header__cart">
                    <a href="#" class="header__cart-link">
                        <span class="header__icon icon-cart"></span> Cart
                    </a>
                </div>
                <div class="header__divider"></div>
                <a href="#" class="header__login">Login</a>
                <a href="#" class="header__sign btn-cta">Sign Up</a>
            </div>
		</div>
	</div>
</header>