@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

@font-face {
	font-family: "Gallient";
	src: url("/src/font/Gallient.woff2") format("woff2"),
		url("/src/font/Gallient.woff") format("woff"),
        url("/src/font/Gallient.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}